@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');/*always check the number for font weight if match dito sa font type*/
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Teko:wght@300..700&display=swap');
* {
 	margin: 0; 
 	padding: 0; 
 	box-sizing: border-box; 
 	text-decoration: none;
} 
.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}
/* Style for Navigation Bar*/
.navbar{
	position: fixed; 
	width: 100%;
	padding: 15px 0px;
	font-family: 'Poppins', sans-serif;
	background: blue;
	z-index: 1;
}
.navbar.sticky{
	padding: 15px;
	background:tomato;
}
.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;	
}
.navbar .logo a{
	color: white;
	font-size: 35px;
	font-weight: 600;
}
.navbar .logo a:hover{
	color:#009E60;
}
.navbar .logo a span{
	color:white;
}
.navbar .logo a span:hover{
	color:#7CFC00;
}
.navbar .menu li{
	list-style: none;
	display: inline-block; 
}
.navbar .menu li a{
	display: block;
	color: white;
	font-size: 20px;
	font-weight: 600;
	margin-left: 30px;
	transition: all 0.3s ease;
}
.navbar .menu li a:hover{
	color: #7CFC00;
}
/* Menu button*/
.menu-btn{
	cursor:pointer;
}
/* Style for Home Section*/
.home{
	display:flex;
	background: url("images/websitebg14.jpg") repeat center;
	height: 100vh;
	color: #BCB88A;
	text-shadow: 2px 2px black;
	min-height: 500px;
	max-height: 720px;
	background-size: cover; 
	background-attachment: fixed;
	font-family: 'Poppins', sans-serif;
}
.home .max-width{
	margin: auto 0 auto 30px; 
}
.home .home-content .text-1{
	font-size:30px;
	font-weight: 700;
}
.home .home-content .text-2{
	font-size:60px;
	font-weight: 900;
	margin: -3px;
}
.home .home-content .text-3{
	font-size:30px;
	font-weight: 700;
}
.home .home-content a{
	display:inline-block;
	background:#097969;
	color:white;
	font-size:20px;
	padding: 12px 36px;
	margin-top:30px;
	border-radius:20px;
	transition: all 0.5s ease;
}
.home .home-content a:hover{
	color:white;
	background:#2E8B57;
}
/* Style for About Section*/
section{
	padding: 100px 0; 
}
.About{
	display:flex;
	background: url("images/banner-5.jpg") repeat center;
	background-size: cover; 
	background-attachment: scroll;
	font-family:'Poppins', sans-serif;
}
.About .title{
	text-align:center;
	font-size: 30px;
	padding-bottom: 50px;

}
.About .About-Content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.About .About-Content .left{
	width: 45%;
}
.About .About-Content .left img{
	height:300px;
	width:300px;
	object-fit: cover;
	border-radius: 18px;
}
.About .About-Content .right{
	width: 55%;
}
.About .About-Content .right .text{
	margin-bottom: 20px;
}
.About .About-Content .right p{
	font-size:20px;
	text-align:justify;
}
/*Style for Services Section*/
.Services {
	color:black;
	background:tomato;
}
.Services .title{
	font-family:'Teko',sans-serif;
	color:white;
	text-align:center;
	font-size: 30px;
	padding-bottom:50px;
}
.Services .Services-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between; 
	padding:10px 10px;
}
.Services .Services-content .card{
	width: calc(33% - 20px);
	background:white;
	text-align:center;
	border-radius: 6px
	padding:40px 40px;
	padding-bottom: 8px;
	padding-top: 5px;
	
}
.Services .Services-content .card:hover{
	background:#FFD700;
}
.Services .Services-content .card .box{
	transition:all 0.3s ease;

}
.Services .Services-content .card .box:hover{
	transform: scale(1.05);
}
.Services .Services-content .card img{
	height: 60px;
	width: 60px;
}
.Services .Services-content .text{
	font-family: 'Teko',sans-serif;
	font-size: 25px;
	font-weight: 600; 
	margin: 10px 0;
}
.Services .Services-content p{
	font-family:'Poppins',sans-serif;
	font-size: 18px;
}
/*Style for Skills Section*/
.Skills{
	display:flex;
	background: url("images/websitebg12.jpg") repeat center;
	background-size: cover; 
	background-attachment: fixed;
	font-family:'Poppins', sans-serif;
	font-size: 18px;
}
.Skills .title{
	text-align: center;
	font-size:30px;
	padding-bottom:50px;
}
.Skills .Skills-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.Skills .Skills-content .column{
	width: calc(50% - 30px);
}
.Skills .Skills-content .left .text{
	font-size:20px;
	font-weight: 600;
	margin-bottom:20px;

}
.Skills .Skills-content .left p{
	text-align: justify;
	font-size: 18px;
	color:black;
	font-weight: 800;
	
}
.Skills .Skills-content .left a{
	display:inline-block;
	background:red;
	color:white;
	font-size:20px;
	padding: 12px 36px;
	margin-top:30px;
	border-radius:20px;
}
.Skills .Skills-content .left a:hover{
	color:white;
	background:#808000;
}
.Skills .Skills-content .right .bar{
	margin-bottom: 15px;
}
.Skills .Skills-content .right .info{
	display:flex;
	margin-bottom: 5px;
	align-items: center;
	justify-content: space-between;
	color:white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.Skills .Skills-content .right .info:hover{
	color: 	#0BDA51;
}
.Skills .Skills-content .right span{
	font-weight:600;
	font-size: 18px;
	padding: 5px;
}
.Skills .Skills-content .right .line{
	height: 10px;
	width: 100%;
	background:lightgray;
	position:relative;
}
.Skills .Skills-content .right .line::before{
	content: "";
	position:absolute;
	height:100%;
	left:0;
	right:0;
	background: tomato;
}
.Skills-content .right .html::before{
	width:95%;
}
.Skills-content .right .css::before{
	width:85%;
}
.Skills-content .right .js::before{
	width:82%;
}
.Skills-content .right .php::before{
	width:80%;
}
.Skills-content .right .mysql::before{
	width:80%;
}
/* Contact Styling */
.Contact{
	display:flex;
	background: url("images/banner-4.jpg") repeat center;
	background-size: cover; 
	background-attachment: fixed;
	font-family:'Poppins', sans-serif;
}
.Contact .title{
	text-align: center;
	font-size: 30px;
	padding-bottom: 50px;

}
.Contact .Contact-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.Contact .Contact-content .column{
	width: calc(50% - 30px);
}
.Contact .Contact-content .column .text{
	color: red;
	font-size: 25px;
	font-weight: 600;
	margin:10px 0;
}
.Contact .Contact-content .left p{
	font-size: 18px;
	text-align: justify;
}
.Contact .Contact-content .row{
	display:flex;	
	height:65px;
	align-items: center;
}
.Contact .Contact-content .row .info{
	margin-left: 30px;

}

.Contact .Contact-content .left img{ /*ito yung image*/
	height: 20px;/*pinapalaki ang image*/
	width: 20px;/*pinapunta sa gitna*/
}
.Contact .Contact-content .info .head{
	color:red;
	font-weight: 600;
	padding:5px 0;
}
.Contact .Contact-content .info .sub-title{
	font-weight: 600;
}
.Contact .right form .fields{
	display: flex;
}
.Contact .right form .field,
.Contact .right form .fields .field{
	height: 45px;
	width: 100%;
	margin-bottom: 10px
}
.Contact .right form .textarea{
	height: 80px;
	width:100%;
}
.Contact .right form .name{
	margin-right: 10px;
}
.Contact .right form .email{
	margin-left: 10px;
}
.Contact .right form .field input,
.Contact .right form .textarea textarea{
	height:100%;
	width: 100%;
	border: 1px solid:lightgray;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
}
.Contact .right form .field input:focus,
.Contact .right form .textarea textarea:focus{
	border-color: red;
}
.Contact .right form .textarea textarea{
	padding-top: 10px;
	resize: none;
}
.Contact .right form .button{
	height: 50px;
	width: 180px;
}
.Contact .right form .button button{
	width: 100%;
	height: 100%;
	background:red;
	border: 2px solid red;
	outline:none;
	color:white;
	font-size: 18px;
	border-radius: 6px;
	cursor:pointer;
}
.Contact .right form .button button:hover{
	color:white;
	border: 2px solid white;
	background:#808000;
}
/* Footer Styling */
footer{
	font-family: 'Poppins', sans-serif;
	background:black;
	color:white;
	text-align: center;
	padding: 50px 25px;
}	
footer span{
	color:red;
}
footer span a{
	color:red;
}
footer span a:hover{
	text-decoration: underline;
}
/*Responsive Media Query*/
@media(max-width:1920px){
	.home .maxwidth{
		margin-left: 0px;
	}
	.menu-btn{
		display: none;
		z-index: 999;
	}
}
@media (max-width:1104px){
	.About .About-content .left img{
		height: 350px;
		width: 350px;
	}
	.menu-btn{
		display: none;
		z-index: 999;
	}
}
@media (max-width:991px){
	.max-width{
		padding: 0 50px;
	}
}
@media (max-width: 947px){
	.menu-btn{
		display: block;
		z-index: 999;
	}
	.navbar .menu{
		position:fixed;
		height:80vh;
		width:100%;
		left: -100%;
		top: 0;
		background: black;
		opacity:90%;
		text-align:center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}
	.navbar .menu.active{
		left:0;
	}
	.navbar .menu li{
		display:block;
	}
	.navbar .menu li a{
		display: inline-block;
		margin: 20px;
		font-size:25px;
	}
	.home .home-content .text-2{
		font-size: 35px;
	}
	.home .home-content a{
		font-size: 18px;
		padding:10px 30px;
	}
	.max-width{
		max-width: 930px;
	}
	.About .About-Content .column{
		width: 100%;
	}
	.About .About-Content .left{
		display:flex;
		justify-content: center;
		margin: 0 auto 60px;
	}
	.About .About-Content .right{
		flex: 100%;

	}
	.Services .Services-content .card{
		width: calc(50% - 10px); 
		margin-bottom: 35px;
	}
	.Skills .Skills-content .column,
	.Contact .Contact-content .column{
		width:100%;
		margin-bottom: 35px;
	}
}
@media (max-width: 690px){
	.max-width{
		padding: 0 23px;
	}
	.Services .Services-content .card{
		width:100%;
	}
}
@media (max-width:500px){
	.Contact .right .form .fields{
		flex-direction: column;
	}
	.Contact .right form .name,
	.Contact .right form .email{
		margin:0;
	}	
}
